name: Code Check

on:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: dart-lang/setup-dart@v1

      - name: Run Test
        run: dart test --reporter github --coverage=lcov

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: dart-lang/setup-dart@v1

      - name: Get dependencies
        run: dart pub get

      - name: Run Format
        run: dart format . --output=none --set-exit-if-changed

      - name: Run Analyze
        run: dart analyze
